.profil {
	width: 830px;
	margin: auto;
	padding-left: 10px;
}
.profil-title {
    font-size: 3rem;
    font-weight: 500;
}
.profil-firstName {
    color: #ff0101;
}
.profil-subtitle {
    margin: 0;
    margin-top: 2.5625rem;
    margin-bottom: 4.8125rem;
    font-size: 1.125rem;
}

.dashboard {
	display: flex;
	flex-direction: column;
}

.dashboard-aside {
    display: flex;
    justify-content: space-between;
    order: 1;
}


.dashboard-charts-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    order: 2;
}

.bottom-cards-wrapper{
	display: flex;
	justify-content: space-between;
	margin-bottom: 2rem;
}

.error-message {
    color: #ff0101;
}

@media screen and (min-width: 1440px){
    .dashboard{
        flex-direction: row;
    }

    .profil{
        width: fit-content;
        padding-left: 0;
    } 

    .dashboard-charts-wrapper  {
        order: 1;
    }

    .dashboard-aside {
        display: block;
        order: 2;
        margin-left: 1.9375rem;
    }


    .bottom-cards-wrapper  {
		margin-bottom: 0;
	}
}
