.nav {
	display: flex;
	left: 20%;
	justify-content: space-evenly;
	width: 80%;
}

.nav-active {
  text-decoration: underline;
}

.nav-wrapper {
  z-index: 2;
  position: fixed;
  width: 100%;
  height: 5.6875rem;
  background: #020203;
}

.nav-wrapper img {
  width: 22%;
  height: 3.75rem;
}

.nav-link, nav-active {
		color: #ffffff;
		font-size: 1.5rem;
		font-weight: 500;
}

@media screen and (min-width: 1440px) {
  .nav {
		justify-content: space-between;
		width: 70%;
	}

  .nav-wrapper a {
    width: 15%;
  }

  .nav-wrapper img {
    width: 15%;
  }
}