
.score {
	position: relative;
}

.chart-score-title {
    position: absolute;
    top: 1.5rem;
    left: 1.875rem;
    color: #20253a;
    font-size: 0.9375rem;
    font-weight: 500;
}


.chart-score-label {
    color: #9b9eac;
    font-weight: 500;
    line-height: 1.625rem;
    text-align: center;
}

.chart-score-label p {
    margin: 0;
}

.chart-score-label .percent {
    color: #282d30;
    font-size: 1.625rem;
    font-weight: 700;
}